.bm-menu-wrap {
  background: #000D0F;
}
.bm-cross {
  background: #0b2e13;
  height: 28px !important;
}
.bm-item-list {
  DISPLAY: FLEX;
  FLEX-DIRECTION: column;
  align-items: center;
  justify-content: center;
}
.menu-item {
  height: 50px;
}