.originalClassImg {
  max-height: 1000px;
}
.thumbnailClassImg {
  max-height: 100px;
}
.image-gallery-image {
  max-height: 1000px;
}
.image-gallery-thumbnail-image {
  max-height: 50px !important;
  object-fit: contain;
}
.Tour__slide__img {
  max-height: 600px;
  max-width: 100%;
  object-fit: contain;
}
.Tour__slide {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
}
.slick-dots {
  background-color: #000D0F;
  left: -5px;
  width: calc(100% + 10px) !important;
}
.slick-dots li.slick-active button:before {
  color: white;
}
.slick-dots li button:before {
  color: #0E6051 !important;
}
.Tour__Caption {
  text-align: center;
}